<p></p>
<center>
<table cellpadding="0" cellspacing="0" width="600">
  <tbody bgcolor="cyan">
  <tr> 
    <td>
		  <center><font face="Comic Sans, Comic Sans MS, cursive" color="#520052" size="5">Pink Pussy Gentlemanīs Club<br/>Invites you for a Fairy Auction!<br/>Mondays, starting at 9 PM(est)<br/><br/>Outfits, Deco, AG, Houses, DJs and much more...<br/>The best deals are here, come and have fun!<br/><br/><a href="http://www.utherverse.com/email/Compose.aspx?to=95236795">Contact AmberFairy to book your offers!</a><br/></font><br><br><a href="vww://utherverse.vww/@81868/pinkpussy"><img border="0" src="http://i1196.photobucket.com/albums/aa419/sugar_babe_/PPGC/mon-auc_amberfairy.jpg" alt="Pink Pussy Gentlemans Club"></a><a href="vww://utherverse.vww/@81868/pinkpussy"><br/>vww://utherverse.vww/@81868/pinkpussy</a></center>
    </td>
  <tr> 
    <td><br/><center><font color="#000000"><b>Copy and paste below to repost:</b></font><br />
<textarea name="textarea" cols="60" rows="6">
<iframe src="http://katjassa.bitbucket.org/AuctionMonday.html"
  width="650"
  height="1300"
  scrolling="auto"
  style="color:pink; background-color:cyan;"
  frameborder="0">
  <!--This bit is only viewed by browsers that don't support inline frames -->
  Your browser doesn't support inline frames.
</iframe>
</textarea>
</center>
<br />
          </td>
        </tr>
      </tbody></table>
</center>
<p></p>